.loading {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 200px;
  height: 200px;
}
.container{
  background-image: url(../../views/assets.img/fondo-pasto.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

h1{
  position: absolute;
  top:62%;
  left:25%;
  color: white;
}
