.CardsContainer{
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0.6%;
    width: 80%;
    height: fit-content;
    background-color: transparent;
}