.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  padding-left: 30px;
  border-bottom: 2px solid silver;
}

.leftSection {
  display: flex;
  align-items: center;
}

.image {
  background-image: url("../assets.img/pokebola-azul.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.LeftContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.link {
  text-decoration: none;
  color: #333;
  padding: 30px;
  transition: color 0.5s ease;
}

.link:hover {
  background-color: rgba(246,165,86,255);
  transition: color 0.5s ease;
  color: white;
}

.RightContainer{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.Contacto {
  text-decoration: none;
  color: #333;
  padding: 30px;
  transition: color 0.5s ease;
}
.Contacto:hover {
  background-color: rgba(246,165,86,255);
  transition: color 0.5s ease;
  color: white;
}